.contact{
    position: absolute;
    height: 120px;
    justify-content: between;
    /* left: 64px; */
    /* top: 2791px; */

    background: #5F72BE;
    border-radius: 12px;
}

.btn-btn {
    width: 250px;
    height: 40px;
    left: 700px;
    top: 2825px;

    background: #2D81F7;
    border-radius: 12px;
}
@media screen and (max-width: 480px){
    .btn-btn{
        width: 100%;
        height: 100%;
    };
    .contact{
        width: 40%;
        height: 20%;
     left: 0%;
    }
}