.heading-title {
    position: absolute;
    width: 302px;
    height: 78px;
    left: 118px;
    top: 1400px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.0188em;

    color: #9921E8;
}

.heading-title2 {
    position: absolute;
    width: 290px;
    height: 44px;
    left: 118px;
    top: 1488px;

    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #0D0D0D;

}

.btn-box {
    box-sizing: border-box;

    position: absolute;
    width: 128px;
    height: 32px;
    left: 118px;
    top: 1600px;

    border: 1.8px solid #5F72BE;
    border-radius: 100px;
}